html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.bg-green {
    background-color: #ade498;
}

input.rounded-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-inline: 20px;
    margin-top: 10px;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img#logo.rounded-circle {
    width: 100px;
    height: 100px;
   
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
}