html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.bg-green {
background-color: #ade498;
}

.text-yellow {
background-color: #ede682;
}


img#logo.rounded-circle {
    width: 100px;
    height: 100px;
}

/* 
@media (min-width: 992px) {
    .navbar {
        height: 50px;
    }
} */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
     right: 0;
}